@model Mvc_CRUD.Dto.UserProfileDTO;

@{
    ViewData["Title"] = "Profile";
}

<link href="~/images" />
<link href="~/css/site.css" rel="stylesheet"/>

<div class="container py-4">
        <div class="position-relative">
            <div class="dropdown">
                <button id="toggleDropDown" type="button" style="background:none; border:none; padding:0; cursor:pointer; display:block; width:100%;">
                    @if(Model.UserProfilePicUrl != null || Model.UserProfilePicUrl?.Length > 0)
                    {
                        <img src="@Model.UserCoverPicUrl" id="bgImage" class="img-fluid w-100" style="height: 450px; object-fit: cover; cursor : pointer;" alt="Cover Image">
                    }
                    else
                    {
                        <div class="bg-secondary w-100" style="height: 450px; cursor : pointer; align-content : center;">
                            <div class="text-capitalize text-white fw-bolder h1">@(char.ToUpper(@Model.UserName[0]) + @Model.UserName.Substring(1)) </div>
                            <div> <small class="text-white h4">Add a Cover Picture</small> </div>
                        </div>                      
                    }
                </button>
                <button class="btn btn-primary position-absolute end-0" type="button" id="btnToggleDropDown" style="bottom: 0; right: 0;">
                    <i class="bi bi-camera"></i> Edit Cover Photo
                </button>
                <ul class="custom-menu" id="dropDownMenu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#viewCoverPic">View Cover Photo</a> </li>
                    <li><label class="dropdown-item" style="cursor : pointer">Change Cover Photo
                        <input type="file" id="bgInput" accept="image/*" class="d-none"></label>   
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="#">Remove Cover Photo</a></li>
                </ul>
            </div>


            <div class="position-absolute"
                 style="bottom: -70px; left: 30px; z-index : 1;">
                <div class="dropdown">
                    <button id="toggleProfileDropDown" class="rounded-circle" type="button" style="background:none; border:none; padding:0; cursor:pointer; display:block; width:100%;">
                       @if (Model.UserProfilePicUrl != null && Model.UserProfilePicUrl.Length > 0)
                       {
                           <img src="@Model.UserProfilePicUrl" id="profileImg" class="rounded-circle border border-4 border-white profile-pic-phone-width"
                                    style="width: 150px; height: 150px; min-width : 110px; min-height : 110px; object-fit: cover; cursor : pointer" />
                       }
                       else
                       {
                           <div class='avatar rounded-circle bg-primary text-white d-flex align-items-center justify-content-center text-capitalize fw-bolder h2 profile-pic-phone-width'
                                style='width:150px; height:150px; min-width:50px; min-height:50px;'>
                                @(!string.IsNullOrEmpty(Model.UserName) ? Model.UserName.Substring(0, 1).ToUpper() : "XX")
                           </div>
                       }
                      
                       <div class="camera-icon">
                           <i class="bi bi-camera-fill"></i>
                       </div>
                    </button>
                    <ul class="custom-profile-pic-dropdown" id="profileDropDownMenu">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#viewProfilePic">View Profile Picture</a> </li>
                        <li><label class="dropdown-item" style="cursor : pointer">Change Profile Picture
                            <input type="file" id="picInput" accept="image/*" class="d-none"></label>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="#">Remove Profile Picture</a></li>
                    </ul>
                </div>
            </div>

          
        </div>

            <div class="mt-5 d-flex justify-content-between flex-wrap align-items-center">
            <div style="padding-left: 11rem">
                <h2 class="fw-bold mb-0">@(char.ToUpper(@Model.UserName[0]) + @Model.UserName.Substring(1)) @(char.ToUpper(@Model.LastName[0]) + @Model.LastName.Substring(1))</h2>
                <small class="text-muted">1,245 Friends</small>
            </div>
            </div>

        <hr />

        @* ******************UserInfo Tab******************************** *@

        <ul class="nav nav-tabs mt-3" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#About">About</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Education">Education</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Career">Career</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Location">Location</button>
            </li>
        </ul>

        <form asp-controller="Home" asp-action="UpdateUserProfile" method="post" id="userInfoUpdateForm">
        <div class="tab-content mt-4">
            <div class="tab-pane fade show active" id="About">
                <div class="card shadow-sm border-0 rounded-4 mb-1 w-100">
                    <div class="card-body gap-2">
                        <h5 class="fw-bold">About</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mt-2 mb-1"> <strong>Bio:</strong> <br />
                               <span class="text-muted fw-bold" data-group="hideInfo">@Model.Bio</span>
                            </p>
                            <a class="nav-link fw-bolder h5" id="edit" style="cursor: pointer;">Edit</a>
                        </div>
                        <textarea class="form-control d-none" name="Bio" rows="3" id="bioTxt">@Model.Bio</textarea>
                        <p class="mt-2 mb-1"> <strong>RelationShip Status:</strong> <br />
                            <span class="text-muted fw-bold" data-group="hideInfo">@Model.RelationShipStatus</span>
                        </p>
                        <input id="combobox" type="text" class="form-control d-none" list="comboboxOptions" name="RelationShipStatus" value="@Model.RelationShipStatus" maxlength="30" autocomplete="off">
                        <datalist id="comboboxOptions">
                            <option value="In a RelationShip">In a RelationShip</option>
                            <option value="Single">Single</option>
                            <option value="Divorced">Divorced</option>
                            <option value="Married">Married</option>
                            <option value="Complicated">Complicated</option>
                        </datalist>
                        <p class="mt-2 mb-1"> <strong>Location:</strong> <br />
                            <span class="text-muted fw-bold" data-group="hideInfo">@Model.Location</span>
                        </p>
                        <input type="text" class="form-control d-none" name="Location" value="@Model.Location" id="locationTxt" />
                        <div class="d-flex align-items-center mt-2 gap-1">
                            <button type="button" class="btn btn-secondary mt-2 mb-1 d-none" id="cancelBtn"> Cancel</button>
                            <button type="submit" class="btn btn-primary mt-2 mb-1 d-none" id="saveBtn">Save Changes</button>
                            <a id="EducationTab" href="#" class="ms-auto text-decoration-none d-flex flex-column align-items-center lh-1">
                                <i class="bi bi-arrow-right fs-1"></i> <small>Continue</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Education">
                <div class="card shadow-sm border-0 rounded-4 mb-4 w-100">
                <div class="card-body">
                    <h5 class="fw-bold">Education</h5>
                    <div class="d-flex justify-content-between">
                        <p class="mt-2 mb-1"><strong>University/College:</strong> <br />
                            <span class="text-muted fw-bold" data-group="educationInfo">@Model.CollegeName</span>
                        </p>
                        <a class="nav-link fw-bolder h5" id="toggleEducation" style="cursor : pointer;">Edit</a>
                    </div>
                    <input type="text" class="form-control d-none" id="txtCollgeName" name="CollegeName" value="@Model.CollegeName" />
                    <p class="mt-2 mb-1"><strong>Course:</strong> <br />
                        <span class="text-muted fw-bold" data-group="educationInfo">@Model.Course</span>
                    </p>
                    <input type="text" class="form-control d-none" id="txtCourse" name="Course" value="@Model.Course" />
                    <p class="mt-2 mb-1"><strong>Period:</strong> <br />
                        <span class="text-muted fw-bold" data-group="educationInfo">@Model.CollegePeriod</span>
                    </p>
                    <input type="text" class="form-control d-none" id="txtCollegePeriod" name="CollegePeriod" value="@Model.CollegePeriod"  placeholder="Example-(2025-2025)"/>
                    <p class="mt-2 mb-1"><strong>High School Name:</strong> <br />
                        <span class="text-muted fw-bold" data-group="educationInfo">@Model.HighSchoolName</span>
                    </p>
                    <input type="text" class="form-control d-none" id="txtSchoolName" name="HighSchoolName" value="@Model.HighSchoolName" />
                    <p class="mt-2 mb-1"><strong>Subject:</strong> <br />
                        <span class="text-muted fw-bold" data-group="educationInfo">@Model.Subject</span>
                    </p>
                    <input type="text" class="form-control d-none" id="txtSubject" name="Subject" value="@Model.Subject" />
                    <p class="mt-2 mb-1"><strong>Period:</strong> <br />
                        <span class="text-muted fw-bold" data-group="educationInfo">@Model.SchoolPeriod</span>
                    </p>
                    <input type="text" class="form-control d-none" id="txtSchoolPeriod" name="SchoolPeriod" value="@Model.SchoolPeriod" placeholder="Example-(2025-2025)" />
                    <div class="d-flex align-items-center mt-2 gap-1">
                        <button type="button" class="btn btn-secondary mt-2 mb-1 d-none" id="educationCancel">Cancel</button>
                        <button type="submit" class="btn btn-primary mt-2 mb-1 d-none" id="educationSave">Save Changes</button>
                        <a id="CareerTab" href="#" class="ms-auto text-decoration-none d-flex flex-column align-items-center lh-1">
                            <i class="bi bi-arrow-right fs-1"></i>
                            <small>Continue</small>   
                        </a> 
                    </div> 
                </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Career">
                <div class="card shadow-sm border-0 rounded-4 mb-4 w-100">
                    <div class="card-body">
                        <h5 class="fw-bold">Career</h5>
                        <div class="d-flex justify-content-between">
                            <p class="mt-2 mb-1"><strong>Job Title:</strong> <br />
                                <span class="text-muted fw-bold" data-group="careerInfo">@Model.JobTitle</span>
                            </p>
                            <a class="nav-link fw-bolder h5" id="careerEdit" style="cursor: pointer;">Edit</a>
                        </div>
                        <input type="text" class="form-control d-none" id="txtJobTitle" name="JobTitle" value="@Model.JobTitle" />
                        <p class="mt-2 mb-1"><strong>Industry:</strong> <br />
                            <span class="text-muted fw-bold" data-group="careerInfo">@Model.Industry</span>
                        </p>
                        <input type="text" class="form-control d-none" id="txtIndustry" name="Industry" value="@Model.Industry" />
                        <p class="mt-2 mb-1"><strong>Period:</strong> <br />
                            <span class="text-muted fw-bold" data-group="careerInfo">@Model.JobPeriod</span>
                        </p>
                        <input type="text" class="form-control d-none" id="txtJobPeriod" name="JobPeriod" value="@Model.JobPeriod" placeholder="Example-(2025-2025)" />
                        <div class="d-flex align-items-center mt-2 gap-1">
                            <button type="button" class="btn btn-secondary mt-2 mb-1 d-none" id="careerCancel">Cancel</button>
                            <button type="submit" class="btn btn-primary mt-2 mb-1 d-none" id="careerSave">Save Changes</button>
                            <a id="LocationTab" href="#" class="ms-auto text-decoration-none d-flex flex-column align-items-center lh-1">
                                <i class="bi bi-arrow-right fs-1"></i>
                                <small>Continue</small>
                            </a>
                        </div>    
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Location">
               <div class="card shadow-sm border-0 rounded-4 mb-4 w-100">
                  <div class="card-body">
                     <h5 class="fw-bold">Location</h5>
                    <div class="d-flex justify-content-between">
                        <p class="mt-2 mb-1"><strong>Originally From:</strong> <br />
                            <span class="text-muted fw-bold" data-group="locationInfo">@Model.FromLocation</span>
                        </p>
                        <a class="nav-link fw-bolder h5" id="locationEdit" style="cursor: pointer;">Edit</a>
                    </div>  
                    <input type="text" class="form-control d-none" id="txtLocation" name="FromLocation" value="@Model.FromLocation"  />
                    <p class="mt-2 mb-1"><strong>Website:</strong> <br />
                        <span class="text-muted fw-bold" data-group="locationInfo">@Model.Website</span>
                    </p>
                    <input type="text" class="form-control d-none" id="txtWebsite" name="Website" value="@Model.Website" />
                    <button type="button" class="btn btn-secondary mt-3 mb-1 d-none" id="locationCancel" >Cancel</button>
                    <button type="submit" class="btn btn-primary mt-3 mb-1 d-none" id="locationSave">Save Changes</button>
                  </div>
               </div>
            </div>
               
        </div>
        </form>

    </div>


    @* *******************View Profile Picture Pop-up*********************************** *@

    <div class="modal fade" id="viewProfilePic" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="@Model.UserProfilePicUrl" class="post-image img-fluid " alt="Post image"
                         style="height : 450px; width : 500px">
                </div>
            </div>
        </div>
    </div>

    @* *******************View Cover Picture Pop-up*********************************** *@

    <div class="modal fade" id="viewCoverPic" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <img src="@Model.UserCoverPicUrl" class="post-image img-fluid " alt="Post image"
                         style="height : 450px; width : 850px">
                </div>
            </div>
        </div>
    </div>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        // toggle Text input for updating user bio info
        const edit = document.getElementById("edit");
        edit.addEventListener("click", function(){
            const bioInput = document.getElementById("bioTxt");
            const relationShipStatus = document.getElementById("combobox");
            const location = document.getElementById("locationTxt");
            const cancelBtn = document.getElementById("cancelBtn");
            const saveBtn = document.getElementById("saveBtn");
            document.querySelectorAll('[data-group="hideInfo"]').forEach(data =>{
                data.classList.add("d-none");
            });

            bioInput.classList.remove("d-none");
            relationShipStatus.classList.remove("d-none");
            location.classList.remove("d-none");
            cancelBtn.classList.remove("d-none");
            saveBtn.classList.remove("d-none");

            cancelBtn.addEventListener("click", function(){
                document.querySelectorAll('[data-group="hideInfo"]').forEach(data =>{
                    data.classList.remove("d-none");
                });
                bioInput.classList.add("d-none");
                relationShipStatus.classList.add("d-none");
                location.classList.add("d-none");
                cancelBtn.classList.add("d-none");
                saveBtn.classList.add("d-none");
            });
        });

        // toggle Text input for updating user education info
        const educationEdit = document.getElementById("toggleEducation");
        educationEdit.addEventListener("click", function(){
            const college = document.getElementById("txtCollgeName");
            const course = document.getElementById("txtCourse");
            const collegePeriod = document.getElementById("txtCollegePeriod");
            const school = document.getElementById("txtSchoolName");
            const subject = document.getElementById("txtSubject");
            const schoolPeriod = document.getElementById("txtSchoolPeriod");
            const cancelBtn = document.getElementById("educationCancel");
            const saveBtn = document.getElementById("educationSave");
            document.querySelectorAll('[data-group="educationInfo"]').forEach(data => {
                data.classList.add("d-none");
            });

            college.classList.remove("d-none");
            course.classList.remove("d-none");
            collegePeriod.classList.remove("d-none");
            school.classList.remove("d-none");
            subject.classList.remove("d-none");
            schoolPeriod.classList.remove("d-none");
            cancelBtn.classList.remove("d-none");
            saveBtn.classList.remove("d-none");

            cancelBtn.addEventListener("click", function(){
                college.classList.add("d-none");
                course.classList.add("d-none");
                collegePeriod.classList.add("d-none");
                school.classList.add("d-none");
                subject.classList.add("d-none");
                schoolPeriod.classList.add("d-none");
                cancelBtn.classList.add("d-none");
                saveBtn.classList.add("d-none");
                document.querySelectorAll('[data-group="educationInfo"]').forEach(data => {
                    data.classList.remove("d-none");
                });
            });
        });

        // toggle Text input for updating user career info
        const editCareer = document.getElementById("careerEdit");
        editCareer.addEventListener("click", function(){
            const title = document.getElementById("txtJobTitle");
            const period = document.getElementById("txtJobPeriod");
            const industry = document.getElementById("txtIndustry");
            const cancelBtn = document.getElementById("careerCancel");
            const saveBtn = document.getElementById("careerSave");
            document.querySelectorAll('[data-group="careerInfo"]').forEach(data => {
                data.classList.add("d-none");
            });

            title.classList.remove("d-none");
            period.classList.remove("d-none");
            industry.classList.remove("d-none");
            cancelBtn.classList.remove("d-none");
            saveBtn.classList.remove("d-none");

            cancelBtn.addEventListener("click", function(){
                title.classList.add("d-none");
                period.classList.add("d-none");
                industry.classList.add("d-none");
                cancelBtn.classList.add("d-none");
                saveBtn.classList.add("d-none");
                document.querySelectorAll('[data-group="careerInfo"]').forEach(data => {
                    data.classList.remove("d-none");
                });

            });
        });


        const editLocation = document.getElementById("locationEdit");
        editLocation.addEventListener("click", function(){
            const location = document.getElementById("txtLocation");
            const website = document.getElementById("txtWebsite");
            const cancelBtn = document.getElementById("locationCancel")
            const saveBtn = document.getElementById("locationSave");
            document.querySelectorAll('[data-group="locationInfo"]').forEach(data => {
                data.classList.add("d-none");
            });

            location.classList.remove("d-none");
            website.classList.remove("d-none");
            cancelBtn.classList.remove("d-none");
            saveBtn.classList.remove("d-none");

            cancelBtn.addEventListener("click", function(){
                location.classList.add("d-none");
                website.classList.add("d-none");
                cancelBtn.classList.add("d-none");
                saveBtn.classList.add("d-none");
                document.querySelectorAll('[data-group="locationInfo"]').forEach(data => {
                    data.classList.remove("d-none");
                });
            });
        });


        const toggle = document.getElementById("toggleDropDown");
        const menu = document.getElementById("dropDownMenu");
        toggle.addEventListener("click", function(e){
            e.stopPropagation();
            if(menu)
            {
                const menuDisplayState = window.getComputedStyle(menu).display === "none";
                menu.style.display = menuDisplayState ? "block" : "none";
                const firstItem = menu.querySelector("a");
                if (firstItem) {
                    firstItem.focus();
                }
            }         
        });
        document.addEventListener("click", function(){
            menu.style.display = "none";
        });


        const btnToggle = document.getElementById("btnToggleDropDown");
        const btnMenu = document.getElementById("dropDownMenu");
        btnToggle.addEventListener("click", function(e){
            e.stopPropagation();
            if(btnMenu)
            {
                const menuDisplayState = window.getComputedStyle(btnMenu).display === "none";
                btnMenu.style.display = menuDisplayState ? "block" : "none";
                const firstItem = btnMenu.querySelector("a");
                if (firstItem) {
                    firstItem.focus();
                }
            }
        });
        document.addEventListener("click", function(){
            btnMenu.style.display = "none";
        });


        const profileToggle = document.getElementById("toggleProfileDropDown");
        const profileMenu = document.getElementById("profileDropDownMenu");
        profileToggle.addEventListener("click", function(e){
            e.stopPropagation();
            if(profileMenu)
            {
                const menuDisplayState = window.getComputedStyle(profileMenu).display === "none";
                profileMenu.style.display = menuDisplayState ? "block" : "none";
                const firstItem = profileMenu.querySelector("a");
                if (firstItem) {
                    firstItem.focus();
                }
            }
        });
        document.addEventListener("click", function(){
            profileMenu.style.display = "none";
        });





    });
    
    // var tempInfo = '@TempData["Message"]';
    // if(tempInfo != null && tempInfo.length > 0)
    // toastr.success(tempInfo);

    document.getElementById('EducationTab').addEventListener('click', function (e) {
        e.preventDefault();
        const tabTrigger = document.querySelector(
            'button[data-bs-target="#Education"]'
        );
        const tab = new bootstrap.Tab(tabTrigger);
        tab.show();
    });

          document.getElementById('CareerTab').addEventListener('click', function (e) {
        e.preventDefault();
        const tabTrigger = document.querySelector(
            'button[data-bs-target="#Career"]'
        );
        const tab = new bootstrap.Tab(tabTrigger);
        tab.show();
    });

      document.getElementById('LocationTab').addEventListener('click', function (e) {
        e.preventDefault();
        const tabTrigger = document.querySelector(
            'button[data-bs-target="#Location"]'
        );
        const tab = new bootstrap.Tab(tabTrigger);
        tab.show();
    });
    
    document.getElementById("picInput").addEventListener("change", async function (event) {
        const file = event.target.files[0];
        if (file) {
             const formImg = new FormData();
             formImg.append("profileImage", file);
             document.getElementById("profileImg").src = URL.createObjectURL(file);
             const res = await fetch('/Home/UpdateProfilePicture', {method : "PATCH", body : formImg});
             const result = await res.json();
            if(result.success)
            {
                document.getElementById("profileImg").src = URL.createObjectURL(file);
                toastr.success("SuccessFully changed your profile pic");
            }else
            {
                toastr.error(`Failed to change profile picture due to : ${result.message}`);
            }
        }
    });


    document.getElementById("bgInput").addEventListener("change", async function (event) {
        const file = event.target.files[0];
        if (file) {
                const formImg = new FormData();
                formImg.append("coverImage", file);
                const res = await fetch('/Home/UpdateCoverPicture', {method : "PATCH", body : formImg});
                const result = await res.json();
            if(result.success)
            {
                document.getElementById("bgImage").src = URL.createObjectURL(file);
                toastr.success("SuccessFully changed your profile pic");
            }else
            {
                toastr.error(`Failed to change profile picture due to : ${result.message}`);
            }
        
        }
    });

    // document.getElementById("userInfoUpdateForm").addEventListener("submit", async function(e){
    //     e.preventDefault();
    //     const form = e.target;
    //     const formData = new FormData(form);
    //     const bio = formData.get("Bio");
    //     try 
    //     {
    //         const response = await fetch(form.action, { method: 'POST', body: new FormData(form) });
    //         if (response.ok) 
    //         {
    //             toastr.success("Successfully Updated.", bio);
    //         }
    //     }catch(Error){
    //         toastr.error(`Failed to update user info due to : ${Error}`);
    //     }
    // });


</script>















